body {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.main-box {
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #c1cedb;
  border-radius: 3px;
  overflow: hidden;
}